<h1>餐廳後台</h1>

<a href="/admin/restaurants">Restaurants</a> | 
<a href="/admin/users">Users</a> | 
<a href="/admin/categories">Categories</a>

<br/>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{indexCount @index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{isAdmin this.isAdmin}}</td>
      <td>
        <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;" onsubmit="return confirm(`Are you ready to update {{this.name}}'s role ?`)">
          <button type="submit" class="btn btn-link">Set as {{adminToggle this.isAdmin}}</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>